<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img
		  class="first-slide"
		  src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
		  alt="First slide"
		/>
		<div class="container">
		  <div class="carousel-caption text-left">
			<h1>{{ product.name }}</h1>
			<p>{{ product.description }}</p>
			<p>
			  <a class="btn btn-lg btn-primary" href="#" role="button">{{ product.price }}</a>
			</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  