<nav
  class="navbar navbar-expand-lg sticky-top navbar-transparent bg-light"
  id="navbar"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">Reservation</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">ログイン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">会員登録</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

